# Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
venv/
.venv/

# Variables de entorno
.env
.env.local

# Streamlit secrets
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# MyPy
.mypy_cache/
