# Backend - PostgreSQL
# Formato: postgresql://usuario:contraseña@host:puerto/nombre_db
DATABASE_URL=postgresql://postgres:TU_CONTRASEÑA@localhost:5432/product_manager

# Frontend - API URL (URL donde corre el backend FastAPI)
API_URL=http://localhost:8000